$main-color: #00a092;
$main-color-hover: #05786e;
$main-color-tranperent: #00a092cf;
$main-color-inactive: rgba(0, 160, 146, 0.5);
$second-color: #f58021;
$second-color-hover: #d26004;
$body-color: #20113d;
$dark-color: #000000;
$placeholder-color: #a4a8ae;
$light-color: #ffffff;
$width-1200: 1400px;
$width-640: 900px;
$width-320: 540px;
